.navbar {
  display: flex;
  justify-content: space-between;
  /* background: #000 url('../img/stars.png') repeat top center; */

  background: #ff0099; /* fallback for old browsers */
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search {
  color: white;
  display: flex;
  align-items: center;
  padding: 1%;
  width: 30%;
}

.search label {
  margin-right: 2%;
}

.navbar img {
  width: 7%;
  padding: 1%;
}

.navbar img:hover {
  cursor: pointer;
}

.boton {
  background: #1c1c1c;
  border: 1px solid white;
  padding: 1%;
  margin-left: 1%;
}
